language: node_js
cache:
  yarn: true
  directories:
  - node_modules
notifications:
  email: false
node_js:
  - '8'

branches:
  except:
    - master

script:
  # - ( yarn prettify:check || yarn lint || true ) && yarn test:prod && yarn build
  - ( yarn prettify:check || yarn lint || true ) && yarn build

